   /* Custom animation for infinite scrolling with stops */
   @keyframes seamless-scroll {
    0%, 20% { 
      transform: translateX(0); /* Stop at the first panel */
    }
    30%, 50% { 
      transform: translateX(-50%); /* Move to the second panel */
    }
  }

  .infinite-scroll {
    animation: seamless-scroll 30s linear infinite;
  }

  /* Custom styles for active link indicator (pseudo-element) */
.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #1e40af;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: width 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

/* Active tab content */
.tab-contents.active-tab {
    display: block;
}

 /* Keyframes for fading in and out */
 @keyframes fade-in-out {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* Animation for the fading effect */
.animate-fade-in-out {
  animation: fade-in-out 6s ease-in-out infinite;
}

/* Making sure the images transition one after the other */
.animate-slide-images img:nth-child(1) {
  animation-delay: 0s;  /* First image starts immediately */
}

.animate-slide-images img:nth-child(2) {
  animation-delay: 3s;  /* Second image starts after 3 seconds */
}