 /* Infinite Scrolling Animation*/
   @keyframes seamless-scroll {

    /* Stop at the first panel */
    0%, 20% { 
      transform: translateX(0); 
    }

    /* Move to the second panel */
    30%, 50% { 
      transform: translateX(-50%); 
    }
  }
  
/* Applies the infinite scroll animation. */
  .infinite-scroll {
    animation: seamless-scroll 30s linear infinite;
  }

/* Tab Styling */
.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #1e40af;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: width 0.5s;
}

/* Expands the underline to 50% width for the active tab */
.tab-links.active-link::after {
    width: 50%;
}

/* Controls visibility of tab content sections */
.tab-contents.active-tab {
    display: block;
}

 /* Fade Animation for Images */
 @keyframes fade-in-out {
  /* Fully transparent */
  0%, 100% {
    opacity: 0;
  }
   /* Fully visible */
  50% {
    opacity: 1;
  }
}

/* Applies the fade animation to images */
.animate-fade-in-out {
  animation: fade-in-out 6s ease-in-out infinite;
}

/* Delays the animation for the second image to create an alternating effect */
.animate-slide-images img:nth-child(1) {
  animation-delay: 0s;  /* First image starts immediately */
}

.animate-slide-images img:nth-child(2) {
  animation-delay: 3s;  /* Second image starts after 3 seconds */
}